.content_slide {
  overflow: hidden;
  position: relative;
  padding: 0;
  background: #eeeeee;
  clear: both;
}

.title_slide { margin : 2rem auto}
	
	
.bg_parallax {
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
 -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;	
	
 }
  .inner {z-index:2; position: relative; height: 100%}	

  .break { background: #000000; height: 100px;}	

/* LA Section d'intro iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii */
#intro {}
#intro  .inner { padding: 5rem;}
.scrolling_icone {}
.scrolling_icone a{ font-size: 3rem;}
/* LA Section d'intro iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii */


  #step01 .bg_parallax {
    background: url("../IMG/demo/img_mountains01.jpg") no-repeat center center;
    background-size: cover; }
	
  #step02 .bg_parallax {
    background: url("../IMG/demo/img_mountains02.jpg") no-repeat center center;
    background-size: cover; }
	
	
  #step04 .bg_parallax {
    background: url("../IMG/demo/img_mountains03.jpg") no-repeat center center;
    background-size: cover;
}

/* effet lorsqu'un slide est actif */
.content_slide.is-active {}
.content_slide.is-active .bg_parallax { opacity: 0.9;}
/* lorsque qu'une slide est "pin" */
	
	
	/* =Simple animation up */
.no-touch .slideInUp {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
.no-touch .slideInUp.launch {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }