/* RESPONSIVE SESSION -------------------------------------- */
/* --------------------------------------------------------- */
@media (max-width: 575px) { .site-sloggan { text-align: center; }
  #masthead .navbar-main .navbar-nav .nav-link { text-align: center; }
  .site-branding.withfullbanner { min-height: 100px !important; }
  .thumbnailcontainer { float: none !important; width: 100%; } }
@media (max-width: 767px) { #masthead .navbar-toggler { width: 100%; } }
@media (max-width: 991px) { .withmenu_topfixed #content { padding-top: 8rem; }
  #primary.order-2 { -ms-flex-order: 0; order: 0; }
  #primary #main { margin-left: 0; margin-right: 0; } }
@media (min-width: 768px) { .comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left; width: 50%; }
  .comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right; text-align: right; width: 50%; } }
