/* NAVIGATION ---------------------------------------------- */
/* --------------------------------------------------------- */

/* Gestion des icones FontAwesome dans le menu */
.nav-link > i { margin-right: 5px}

/* rajoute du padding d/g au lien de la navbar par defaut */
.navbar-nav .menu-item { margin: 0 0.25rem;}
.navbar-nav .nav-link { padding: 0.5rem;}
.navbar-nav .nav-link.active { background:rgba($color_white, 0.2)}

/* menu-.php --------------------------------------------------*/
#masthead .navbar-toggler { width:auto;}
.navbar-main .navbar-nav .nav-link {   
	-webkit-transition: background-color 1s;
    transition: background-color 1s;
}

/* menu top fixed --------------------------------------------------*/
body.admin-bar #masthead .navbar-fixed-top { top: 32px;}
#masthead .navbar-brand.brand-logo { }
#masthead .navbar-brand.brand-logo img{ }
.navbar-fixed-top .navbar-main .navbar-nav .nav-link,
.stickyonscroll .navbar-main .navbar-nav .nav-link{  padding: 0.8rem 0.5rem;}
/*menu-topfixedonscroll.php */
.site-branding.withfullbanner .menu_standard,
.site-branding.withfullbanner .stickyonscroll{ position:absolute; bottom:0; width:100%;}
#masthead .navbar-fixed-top { bottom: auto !important; position: fixed !important;}
#content.paddingforfixednav{ padding-top:4.1rem;}
/*navbar-centered */
.navbar-centered,
.navbar-centered .navbar-main{}

/* button toggler */

/* = .navbar-dottedigation */
 .navbar-dotted {
  position: fixed;
  right: 30px;
  top: 50%;
  z-index: 999;
  list-style: none;
}
.navbar-dotted .nav-item { float: none !important; margin: 15px 0;}
.navbar-dotted .nav-link { display: block; padding: 0 !important;}
.navbar-dotted .nav-link.active { background: none;}

.navbar-dotted .nav-dot { 
	display: block; width: 0.8rem; height: 0.8rem; border-radius: 100%; background-color: rgba($color_white, 0.5); border: 1px solid rgba($color_white, 0.8);
-webkit-box-shadow: 0 0 5px 0 rgba($color_dark,0.25);
box-shadow: 0 0 5px 0 rgba($color_dark,0.25);
}
.navbar-dotted .nav-link.active .nav-dot{ background: none; background-color: rgba($color_white, 0.9); border: 1px solid rgba($color_white, 1);}

