/* NAVIGATION ---------------------------------------------- */
/* --------------------------------------------------------- */

/* rajoute du padding d/g au lien de la navbar par defaut */
.navbar-nav .nav-link { padding: 0.5rem;}
.navbar-nav .nav-link.active { background:rgba($color_white, 0.2)}

/* menu-.php --------------------------------------------------*/
#masthead .navbar-toggler { width:auto;}
/* menu top fixed --------------------------------------------------*/
body.admin-bar #masthead .navbar-fixed-top { top: 32px;}
#masthead .navbar-brand.brand-logo { height:3rem; margin:0 1rem 0 0;}
#masthead .navbar-brand.brand-logo img{ width:auto; height:100%;}
.navbar-fixed-top .navbar-main .navbar-nav .nav-link,
.stickyonscroll .navbar-main .navbar-nav .nav-link{  padding: 0.8rem 0.5rem;}
/*menu-topfixedonscroll.php */
.site-branding.withfullbanner .menu_standard,
.site-branding.withfullbanner .stickyonscroll{ position:absolute; bottom:0; width:100%;}
#masthead .navbar-fixed-top { bottom: auto !important; position: fixed !important;}
#content.paddingforfixednav{ padding-top:4.1rem;}
/*navbar-centered */
.navbar-centered,
.navbar-centered .navbar-main{}

/* button toggler */
.navbar-toggler {top: 4px;}


/* = .navbar-dottedigation */
 .navbar-dotted {
  position: fixed;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  z-index: 100; }

.navbar-dotted .nav-item { float: none !important;}
.navbar-dotted .nav-link { display: block; padding: 0 !important;}
.navbar-dotted .nav-link.active { background: none;}

.navbar-dotted a {
    display: block;
    line-height: 25px;
    position: relative;
    padding-right: 20px;
    color: $color_white;
    text-decoration: none; }

.navbar-dotted a:hover .nav-label {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
      visibility: visible; }

.navbar-dotted .nav-dot {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 35%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.navbar-dotted .nav-link.active .nav-dot { background: rgba(0, 0, 0, 0.8);}


.navbar-dotted .nav-label {
    display: block;
	padding-right: 1rem;
    opacity: 0.5;
    visibility: hidden;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
    transition: all 0.2s cubic-bezier(.17, .67, .83, .67); }

.navbar-dotted.is-dark a {color: #212121; }
.navbar-dotted.is-dark .nav-dot {background-color: rgba(0, 0, 0, 0.5); }
.navbar-dotted.is-light a {color: #ffffff; }
.navbar-dotted.is-light .nav-dot {background-color: rgba(255, 255, 255, 0.5); }
.navbar-dotted ul { margin: 0; padding: 0; }
.navbar-dotted li { width: auto;list-style: none; }
