/* page-template-plandusite */
.page-template-plandusite {}
#sitemap_container{ padding-bottom:2rem;}
#sitemap_container .section{ margin:1rem 0;}

/* onepage.php */
.page-template-onepage-scrolling #content { display:none;}
@media (min-width: 576px) {
	.slide_fullheight { min-height: 100vh;}
}

.content_slide { padding:8rem 0;}

/* imagine.php */
.page-template-imagine #content { display:none;}
