/* WIDGET -------------------------------------------------- */
/* --------------------------------------------------------- */

.widget {margin: 0 0 1.5em;}
.widget select {max-width: 100%;}
.widget-title { font-size:1.25rem;}
/*search */
.search-field, .search-submit { width:100%}



.widget_search .search-form label, 
.widget_search .search-form .search-submit { margin: 0}

.widget_search .search-form label { width: 80%}
.widget_search .search-form .search-submit {width: 17%; vertical-align: 0; text-indent: 500px;}
.widget_search .search-form .search-submit {
	background-image: url("IMG/search.svg");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}